<%= render "shared/banner", banner_heading: "Agents Listing", banner_name: "Agent Listings", heading_tag: :h1 %>

<div class="container">

  <div id="main" class="row-fluid agentsListingPage">
    <section  id="content" class="span9" role="main">

      <div class="agent-sort">
        <span class="paginate-info"><%= page_entries_info @agents %></span>
        <div class="paginationBtns">
          <%= link_to_previous_page @agents, '<i class="fa fa-chevron-left"></i>Back'.html_safe, class: "paginate-button back-button" %>
          <%= link_to_next_page @agents, 'Next<i class="fa fa-chevron-right"></i>'.html_safe, class: "paginate-button next-button" %>
        </div>
        <div class="clearfix"></div>
      </div>

      <% if @agents.present? %>
        <% @agents.each do |agent| %>

          <div class="row-fluid">
            <div class="row-fluid agent-listing clearfix">
              <div class="agent-image-listing span4">
                <div class="agent-image-container">
                  <%= link_to image_tag(agents_image(agent), class: "agent-image-size"), assigned_properties_user_path(agent, state: "approved") %>
                </div>
              </div>
              <div class="listing-info span8">
                <div class="listing-title">
                  <h2><%= link_to titleize(agent.name), assigned_properties_user_path(agent, state: "approved") %>
                    <% if agent.city.present? %>
                      - <%= agent.city %>
                    <% end %>
                  </h2>
                </div>
                <div class="listing-content">
                  <div class="listing-excerpt">
                    <p><%= agent.agent_description %></p>
                  </div>
                </div>

                <div class="listing-address">
                  <table>
                    <td class="agent-phone-info">
                      <i class="fa fa-mobile" aria-hidden="true"></i>
                      <%= agent.home_number %>
                    </td>
                    <td class="agent-phone-info">
                      <i class="fa fa-phone" aria-hidden="true"></i>
                      <%= agent.mobile_number %>
                    </td>
                    <td class="agent-phone-info">
                      <i class="fa fa-envelope" aria-hidden="true"></i>
                      <a data-toggle="modal" href="#contact_<%= agent.id %>">Send Email</a>
                    </td>

                    <div id="contact_<%= agent.id %>" class="modal hide fade sendMailAgentPopup" tabindex="-1" role="dialog" aria-labelledby="contactAgentLabel" aria-hidden="true">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times-circle" aria-hidden="true"></i></button>
                        <h3>
                          Send message to Agent <%= agent.name %>
                        </h3>
                      </div>

                      <div class="modal-body">
                        <%= form_for @email, url: send_mail_path, method: :post do |f| %>
                          <div class="controls controls-row form-horizontal">
                            <div class="row-fluid control-group">
                              <%= f.label :sender_name, 'Name:', class: 'span4' %>
                              <%= f.text_field :sender_name, placeholder: 'Enter Your Name', required: true, class: 'span8' %>
                            </div>
                            <div class="row-fluid control-group">
                              <%= f.label :contact, 'Contact Number:', class: 'span4' %>
                              <%= f.text_field :contact, placeholder: '03001111111 / 04231111111', required: true, class: 'span8', pattern: "[0-9]{1,13}" %>
                            </div>
                            <div class="row-fluid control-group">
                              <%= f.label :user_email, 'Your Email:', class: 'span4' %>
                              <%= f.email_field :user_email, placeholder: 'user@example.com', class: 'span8' %>
                              <%= hidden_field_tag :agent_id, agent.id %>
                            </div>
                          </div>

                          <div class="controls row-fluid control-group">
                            <%= f.label :body, 'Your Message:', class: 'span4' %>
                            <div  class="span8">
                            <%= f.text_area :body, placeholder: 'Write Your Message', required: true, rows: 12, class: '' %>
                            </div>
                          </div>

                          <div class="controls">
                            <%= f.submit 'Send Email', class: 'btn btn-contact submitBtn pull-right' %>
                          </div>
                        <% end %>
                      </div>
                    </div>
                  </table>
                </div>
              </div>
            </div>
          </div>
        <% end %>

      <% else %>

        <div class="row-fluid">
          <h2>No Agents found</h2>
        </div>
      <% end %>

      <div class="property-pagination">
        <ul>
          <li><%= paginate @agents %></li>
        </ul>
      </div>
    </section>

    <section id="sidebar" class="span3" role="complementary">
      <%= render 'properties/search_form' %>
      <% if @properties.present? %>
        <%= render 'properties/featured_properties', properties: @properties %>
      <% end %>
    </section>
  </div>
</div>
