<%= render "shared/banner", banner_heading: "Project Details", banner_name: "Project Details", heading_tag: :h2 %>

<div class="clearfix"></div>
<div class="content-wrapper">
  <div class="container">

    <div id="main" class="row-fluid">
      <section  id="content" class="span9" role="main">
        <div class="clearfix"></div>
        <article class="type-property">

          <% if @attachments.present? %>
            <%= render 'shared/attachments_carousel', attachments: @attachments %>
          <% end %>

          <div class="single-property-content-wrapper">

            <header class="single-property-header">
              <h3 class="single-property-title">
                <%= project_title(@project) %>
              </h3>
              <p class="single-property-address">
                <%= project_address(@project) %>
              </p>
            </header>

            <div class="project-description">
              <%= @project.description %>
              <p>&nbsp;</p>
            </div>

            <div class="single-property-map">
              <div id="the_map" class="map-wrap clearfix">
                <span class="map-label">Project Map</span>
                <div id="project-map"></div>
              </div>
            </div>
          </div>
        </article>
        <div class="btn-section">
          <%= link_to 'Back', projects_path %>
          <%= link_to 'View All Properties', properties_path(project_id: @project.id) %>
          <%# if user_signed_in? && current_user.admin? %>
            <%#= link_to 'Edit', edit_project_path(@project) %>
            <%#= link_to 'Delete', @project, method: :delete, data: { confirm: 'Are you sure?' } %>
          <%# end %>
        </div>
      </section>
      <section id="sidebar" class="span3" role="complementary">
        <%= render 'properties/search_form' %>
      </section>
    </div>
  </div>
</div>
<% content_for :map_initializer do %>
  <script type='text/javascript' src='http://maps.google.com/maps/api/js?sensor=false'></script>
<% end %>
<% content_for :js_init do %>
  ProjectMap.init();
<% end %>
