<section id="footer_widgets">
  <div id="footer_widget_wrapper">
    <div class="container">
      <div class="row-fluid">
        <div class="footerSection">
          <h3>About Konain Marketing</h3>
          <p>
            Token Money:
            Residential Plot = Rs 50,000/-
            Commercial Plot / House = Rs 200,000/-
            Appointment date Seller/Buyer
            1% Commission Full Charge both sides
            No Hidden Charges, No Margin
          </p>
        </div>
        <!-- <div id="text-2" class="span4 widget widget_text">
          <h3 class="widget-title">About Real Expert</h3>
          <div class="textwidget">
            <p>Aquam est tortor, sagittis in fringilla in, pellent esque nec erat.  Aenean semper, neque non faucibus. tortor, sagittis in fringilla in, pellent esque nec eratsemper, neque non.</p>
            <p>Malesuada, dui felis tempor felis, vel varius ante diam ut mais eque non faucibus. tortor, sagittis. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod.</p>
          </div>
        </div>
        <div id="pages-2" class="span2 widget widget_pages offset2">
          <h3 class="widget-title">Quick Links</h3>
          <ul>
            <li class="page_item"><a href="#">Project</a></li>
            <li class="page_item"><a href="#">Contact Us</a></li>
            <li class="page_item"><a href="#">Listing</a></li>
          </ul>
        </div>
        <div id="pages-5" class="span2 widget widget_pages">
          <h3 class="widget-title hidden-phone">&nbsp;</h3>
          <ul>
            <li class="page_item"><a href="#">Property Listing</a></li>
            <li class="page_item"><a href="#">Property Search</a></li>
            <li class="page_item"><a href="#">Special Tabs</a></li>
          </ul>
        </div> -->
      </div>
    </div>
  </div>
</section>
<footer id="footer">
  <div class="container cleafix">
    <p class='pull-left'>Copyright 2012, All Rights Reserved by <a href='#'>Konain Marketing</a></p>
    <div class="pull-right">
      <!-- <ul class="footer-social">
        <li><a href="http://www.facebook.com/" title="Facebook"><i class="fa fa-facebook"></i></a></li>
        <li><a href="http://www.twitter.com/" title="Twitter"><i class="fa fa-twitter"></i></a></li>
      </ul> -->
      <ul class="footerLinks">
        <li>
          <%= link_to "Home", root_path %>
        </li>
        <li>
          <%= link_to 'Property Listing', properties_path %>
        </li>
        <li>
          <%= link_to 'Property Types', property_types_path %>
        </li>
        <li>
          <%= link_to 'Agents', agents_path %>
        </li>
        <li>
          <%= link_to "Projects", projects_path %>
        </li>
        <li>
          <%= link_to "Contact Us", contact_us_path %>
        </li>
        <li>
          <%= link_to 'About Us', about_us_path %>
        </li>
      </ul>
    </div>
    <div class="clearfix"></div>
  </div>
</footer>
