<% if properties.present? %>
  <% properties.each do |property| %>

    <div class="row-fluid">
      <div class="row-fluid property-listing <%= favourite_class(property) %> <%= pre_login_listing %> <%= catergory_class(property) %> clearfix property-listing-col-margins all-property-list">
        <div class="listing-image span5">
          <div class="property-image-container">
            <%= link_to image_tag(property.cover_image), property %>
          </div>
          <div class="listing-meta">
            <ul>
              <li>
                <i class="ico-size"></i>
                <%= property.land_area %> <%= area_units_abbreviation(property.area_unit) %>
              </li>
              <li>
                <i class="ico-bedroom"></i>
                <%= property.bedroom_count %>
              </li>
              <li>
                <i class="ico-bathroom"></i>
                <%= property.bathroom_count %>
              </li>
            </ul>
          </div>
        </div>

        <div class="listing-info span7">
          <div class="listing-title">
            <h2><%= link_to property.title_slug, property %>
            <% unless is_owner?(property) %></h2>
              <div id="favourited_<%= property.id %>" class="favourite-feature">
                <%= render 'favourite_properties/favourited', property: property, user_favourited_active: false %>
              </div>
            <% end %>
          </div>

          <div class="listing-content">
            <div class="listing-property-price">
              <h4 class="price-curr">PKR. <%= render_price(property.price) %> </h4>
            </div>
            <div class="listing-excerpt">
              <% if property.property_type.present? %>
                <p>
                  <strong>Property Type:</strong>
                  <%= display_property_type(property) %>
                </p>
              <% end %>
              <p><%= property.description %></p>
            </div>
          </div>

          <div class="listing-address">
            <span class="address-text">
              <i class="fa fa-map-marker" aria-hidden="true"></i>
              <%= project(property).location %>, <%= property.city %>
            </span>
            <a href="#" data-toggle="modal" data-target="#myMapModal-<%= property.id %>" class="map-link">View Map</a>
            <div class="modal fade hide" id="myMapModal-<%= property.id %>">
              <div class="modal-dialog">
                <div class="modal-content sendMailAgentPopup">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                      <i class="fa fa-times-circle" aria-hidden="true"></i>
                    </button>
                    <h3 class="modal-title"><%= property_address(property) %></h3>
                  </div>
                  <div class="modal-body">
                    <div class="row map-row">
                      <div id="map-canvas-<%= property.id %>" class="map-canvas"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="edit-delete-btns">
            <% if user_signed_in? && is_owner?(property) %>
              <%= link_to edit_property_path(property) do %>
                <i class="fa fa-pencil" aria-hidden="true"></i>
              <% end %> |
              <%= link_to property, method: :delete, data: { confirm: 'Are you sure?' } do %>
                <i class="fa fa-trash-o" aria-hidden="true"></i>
              <% end %>
            <% end %>
          </div>
        </div>

        <div class="property-status <%= catergory_text_class(property) %>">
          <%= category(property) %>
        </div>
      </div>
    </div>
  <% end %>

<% else %>

  <div class="row-fluid">
    <h2 class="noFoundTxt">No property found, Please try to change your search parameters.</h2>
  </div>

<% end %>

<div class="property-pagination">
  <ul>
    <li><%= paginate properties, remote: true %></li>
  </ul>
</div>
