<% if properties.present? %>
  <div class="single-property-related ">
    <span class="map-label">Related Properties</span>
    <div class="row-fluid">
      <% properties.each do |property| %>
        <div class="span3">
          <article class="property-item related-property-block">
            <div class="property-images <%= catergory_class(property) %>">
              <%= link_to image_tag(property.related_image), property %>
              <div class="property-status <%= catergory_text_class(property) %>"><%= category(property) %></div>
            </div>

            <div class="property-attribute">
              <p class="featuredPropTitle">
                <%= link_to display_title_location(property), property %>
                <% unless is_owner?(property) %>
                  <div id="favourited_<%= property.id %>" class="favourite-feature">
                    <%= render 'favourite_properties/favourited', property: property, user_favourited_active: false %>
                  </div>
                <% end %>
              </p>
              <span class="attribute-city">
                <%= property.city %>
              </span>
              <div class="featuredProPriceSec">
                <span class="featuredPricCont">
                  <small class="price-curr">PKR.</small>
                  <%= render_price(property.price) %>
                </span>
              </div>
            </div>

            <div class="property-meta clearfix">
              <div class="meta-size meta-block">
                <i class="ico-size"></i>
                <span class="meta-text">
                  <%= property.land_area %> <%= area_units_abbreviation(property.area_unit) %>
                </span>
              </div>
              <div class="meta-bedroom meta-block">
                <i class="ico-bedroom"></i>
                <span class="meta-text">
                  <%= property.bedroom_count %>
                </span>
              </div>
              <div class="meta-bathroom meta-block">
                <i class="ico-bathroom"></i>
                <span class="meta-text">
                  <%= property.bathroom_count %>
                </span>
              </div>
            </div>
          </article>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
