<aside id="property-search-widget-2" class="widget widget-property-search">
  <h3 class="widget-title">Property Search</h3>
  <div class="content-widget">
    <%= form_tag properties_path, class: "advance-search-form", method: 'get' do %>
      <div class="option-bar location">
        <span class="selectwrap">
          <%= select_tag :project_id, options_for_select(selected_projects_list(params[:city]), params[:project_id]), prompt: "Society", class: 'search-select', id: 'side_bar_prop_id' %>
        </span>
      </div>
      <div class='option-bar location'>
        <span class='selectwrap'>
          <%= select_tag :sub_project_id, options_for_select(@sub_projects.present? ? @sub_projects : '', params[:sub_project_id]), prompt: 'Phase', class: 'search-select', id: 'side_bar_prop_phase_id' %>
        </span>
      </div>
      <div class="option-bar">
        <span class="selectwrap">
          <%= select_tag :property_type, options_for_select(Property.fetch_all_types, params[:property_type]), prompt: "Property Type", class: "search-select" %>
        </span>
      </div>
      <div class="option-bar">
        <span class="selectwrap city-options">
          <%= select_tag :city, options_for_select(Property::CITIES, params[:city]), prompt: "City", class: "search-select" %>
        </span>
      </div>
      <div class='option-bar'>
        <%= number_field_tag :property_id, params[:property_id], placeholder: 'Property ID', min: 1 %>
      </div>
      <div class="option-bar">
        <%= number_field_tag :bedroom_count, params[:bedroom_count], min: Property::MINIMUM_RANGE, max: Property::MAXIMUM_RANGE, step: 'any', placeholder: "Bedroom(s)" %>
      </div>
      <div class="option-bar">
        <%= number_field_tag :bathroom_count, params[:bathroom_count], min: Property::MINIMUM_RANGE, max: Property::MAXIMUM_RANGE, step: 'any', placeholder: "Bathroom(s)" %>
      </div>
      <div class="option-bar">
        <%= number_field_tag :min_price, params[:min_price], min: Property::MINIMUM_RANGE, max: Property::MAXIMUM_PRICE_RANGE, step: 'any', placeholder: "Min. Price(Rs.)" %>
      </div>
      <div class="option-bar">
        <%= number_field_tag :max_price, params[:max_price], min: Property::MINIMUM_RANGE, max: Property::MAXIMUM_PRICE_RANGE, step: 'any', placeholder: "Max. Price(Rs.)" %>
      </div>
      <div>
        <% unless category_field?(params) %>
          <%= hidden_field_tag :category, params[:category] %>
        <% end %>
      </div>
      <div class="option-submit">
        <%= submit_tag "Search", class: "button button-search-widget " %>
        <%= link_to "Reset", properties_path, class: "button button-search-widget reset-button" %>
        <div class="clearfix"></div>
      </div>
    <% end %>
  </div>
</aside>
